workspaces-streamlit-template
workspaces-toppview-lite
build
myenv
build.log
run_app.spec
clean-up-workspaces.log
*-embed-amd64
get-pip.py
run_app.bat
python*
**/__pycache__/
gdpr_consent/node_modules/
*~

# Cache directories
.cache/
**/.cache/
.streamlit/secrets.toml
